@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
main{
    position: relative; /*configuração para manter a section centralizada*/
    height: 100vh;
}
section#telefone{
    position: absolute; /* mantem a section centralizada*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background-image: url('../imagens/frame-iphone.png');
}
iframe#tela{
    position: relative;
    top: 81px;
    left: 23px;
    width: 265px;
    height: 469px;
}
section#redes-sociais{
    text-align: right;
}
section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.555);

}
section#redes-sociais a :hover{
    transform: translate( -3px, -3px);
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.514);
    transition: transform 0.3s, box-shadow 0.3s;

}